table {
  margin: 50px auto 50px;
}

td {
  border-bottom: solid 2px #ddd;
  padding: 5px 20px;
}

.btn-entry {
  width: 35px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  opacity: 0.4;
}

.btn-entry:hover {
  opacity: 1;
}

.btn-edit {
  background-color: #0d6efd;
  margin-right: 8px;
}

.btn-delete {
  background-color: #dc3545;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.expense {
  color: red;
}

.income {
  color: green;
}
